In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('store.db')
c = conn.cursor()

In [5]:
c.execute('CREATE TABLE IF NOT EXISTS customers (productCode REAL, productName TEXT, productLine TEXT, productScale TEXT,\
productVendor TEXT, productDescription TEXT, quantityInStock REAL, buyPrice Username INTEGER, MSRP INTEGER)')
conn.commit()

In [15]:
c.execute("ALTER TABLE customers RENAME TO products")
conn.commit()

In [16]:
c.execute("INSERT INTO products VALUES (789101, 'Test Name1', 'Test Line1', 'Test product scale1', 'Test product vendor1',\
'Test Product Description1', 5, 16.5, 15.89)")
conn.commit()

In [17]:
c.execute("SELECT * FROM products")

1. Write SQL query to create table Customers.

In [20]:
c.execute("""CREATE TABLE IF NOT EXISTS customers (
        customerNumber REAL,
        customerName REAL,
        contactLastName TEXT,
        contactFirstName TEXT,
        phone REAL,
        addressLine1 TEXT,
        addressLine2 TEXT,
        city TEXT,
        state TEXT,
        postalCode TEXT,
        country TEXT,
        salesRepEmployeeNumber REAL,
        creditLimit INTEGER)""")
conn.commit()

2. Write SQL query to create table Orders.

In [22]:
c.execute("""CREATE TABLE IF NOT EXISTS orders (
        orderNumber REAL,
        orderDate_YY_MM_DD TEXT,
        requiredDate_YY_MM_DD TEXT
        shippedDate_YY_MM_DD TEXT,
        status TEXT,
        comments TEXT,
        customerNumber REAL)""")
conn.commit()

In [26]:
c.execute("pragma table_info(orders)")

<sqlite3.Cursor object at 0x000002627CF82EA0>

In [25]:
print(pragma)

NameError: name 'pragma' is not defined

In [18]:
c.fetchone()

(123456.0,
 'Test Name',
 'Test Line',
 'Test product scale',
 'Test product vendor',
 'Test Product Description',
 4.0,
 15.5,
 14.89)

In [19]:
c.execute('CREATE TABLE IF NOT EXISTS customers (customerNumber REAL, customerName TEXT, contactLastName TEXT, contactFirstName TEXT,\
phone REAL, addressLine1 TEXT, addressLine2 TEXT, city TEXT, state TEXT, postalCode REAL, country TEXT, salesRepEmployeeNumber REAL,\
creditLimit REAL)')
conn.commit()

In [7]:
c.execute("SELECT * FROM customers")

In [9]:
print(c.fetchall())

[]